@{
    ViewBag.Title = "Index";
}

<h2 class="blue-text">Préstamos</h2>

<div class="row">

    <div class="input-field col s6">
        <i class="material-icons prefix">attach_money</i>
        <input type="text" id="Monto">
        <label for="Monto">Monto</label>
    </div>

    <div class="input-field col s6">
        <i class="material-icons prefix">schedule</i>
        <input type="text" id="Frecuencia">
        <label for="Frecuencia">Frecuencia</label>
    </div>

    <div class="input-field col s6">
        <i class="material-icons prefix">event</i>
        <input type="text" id="Tiempo">
        <label for="Tiempo">Plazo</label>
    </div>

    <div class="input-field col s5">
        <i class="material-icons prefix">percent</i>
        <input type="text" id="Interes">
        <label for="Interes">Interés</label>
    </div>

    <div class="input-field col s5">
        <i class="material-icons prefix">payments</i>
        <input type="text" id="Cuota">
        <label for="Cuota">Cuota</label>
    </div>
</div>

<a href="#!" class="modal-close waves-effect blue white-text btn-flat" id="btnCalcularCuota">Calcular cuota</a>
