<div class="row">
    <div class="row">
        <p class="content-Filter">Filtrar Por:</p>
        <!-- Filtro de estado Cliente -->
        <div class="col s2 left-align">
            <select id="Filtro">
                <option value="2">Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
        <div class="col s4"></div>

        <!-- Input de búsqueda -->
        <div class="col s6 right-align">
            <div class="input-field" style="max-width:300px; display:inline-block; width:100%;">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" class="validate">
                <label for="search">Buscar cliente</label>
            </div>
        </div>
    </div>
</div>