.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Navbar flex */
.custom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.items-Nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

    .items-Nav a {
        color: white !important; /* 🔹 Asegura que se vean los textos */
        font-weight: 500;
        margin-left: 5px;
    }

.tableHead {
    border-radius: 10px 10px 0 0 0;
}

.Bage {
    padding: 5px;
    border-radius: 5px;
}

.accionesTabla {
    display: flex;
    align-items: center;
}

.sidenav {
    padding-top: 20px;
}

.logo {
    padding-bottom: 20px;
    padding-left: 20px;
}
