.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

.custom-flex {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.items-Nav{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.tableHead{
    border-radius: 10px 10px 0 0 0;
}

.Bage {
    padding: 5px;    
    border-radius: 5px;
}

.accionesTabla{
    display: flex;
    gap: 20px;
}

.HeadPages {
    padding-top: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Badges {
    display: flex;
    align-items: center;
    background-color: azure;
    gap: 5px;
}

.TitleModal{
    display: flex;
    justify-content:center;
    text-align: center;
    padding-bottom: 10px;
}