<div id="modalAddAccount" class="modal">
    <div class="modal-content">
        <h4 class="blue-text titleModals">Crear Cuenta</h4>

        <div id="alertContainer"></div>


        <!-- Buscar cliente -->
        <div class="row">
            <div class="input-field col s8">
                <input type="text" id="DocumentoBuscar" placeholder="Documento del cliente">
                <label for="DocumentoBuscar">Buscar cliente</label>
            </div>
            <div class="col s4" style="margin-top: 25px;">
                <button type="button" id="btnBuscarCliente" class="btn blue waves-effect">
                    <i class="material-icons left">search</i>Buscar
                </button>
            </div>
        </div>

        <!-- Formulario de registro de cuenta -->
        @using (Html.BeginForm("Insert", "Cuenta", FormMethod.Post, new { id = "formInsertCliente" }))
        {

            <input type="hidden" id="IdClienteInsert" name="IdCliente">


            <div class="row">
                <!-- Propietario -->
                <div class="input-field col s6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="NombreInsert" readonly>
                    <label for="NombreInsert">Propietario</label>
                </div>

                <!-- Tipo de cuenta -->
                <div class="input-field col s6">
                    <select id="TipoCuenta" name="TipoCuenta">
                        <option value="2">Débito</option>
                        <option value="1">Crédito</option>
                    </select>
                    <label for="TipoCuenta">Tipo de cuenta</label>
                </div>

                <!-- Saldo -->
                <div class="input-field col s6">
                    <i class="material-icons prefix">attach_money</i>
                    <input type="number" step="0.01" id="SaldoInsert" name="Saldo">
                    <label for="SaldoInsert">Saldo</label>
                </div>

            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect red white-text btn-flat">
                    Cancelar
                </a>
                <button type="submit" class="waves-effect blue white-text btn-flat">
                    Crear Cuenta
                </button>
            </div>
        }
    </div>
</div>